.transactionHistory {
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.transactionHistory thead {
  border: solid 1px rgb(144, 146, 144);
  background-color: rgb(156, 233, 233);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
/* .transactionHistory tr {
  margin: 0;
} */

.transactionHistory td {
  border: solid 1px rgb(144, 146, 144);
  margin: 0;
  width: 200px;
  padding: 5px 5px;
}
